html,
body {
  margin: 10;
  padding: 10;
  font-size: 32px;
  text-align: center;
  background-color: #FFFAF1;
}

.grid {
  display: flex;
  flex-wrap: wrap; 
  margin: auto;
  width: 700px;
  height: 700px;
  border: solid black;
}



.grid div {
  width: 25px;
  height: 25px;
  align-items: center;
  text-align: center;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 50%;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 7.5px,;
}

.pacman {
  background-color: yellow;
  border-radius: 10px;
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: aqua;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}

#score {
  font-size: 40px;
}

